{{ $css := resources.Get "css/main.css" }}
{{ $style := $css | resources.PostCSS }}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

  {{ template "_internal/opengraph.html" . }}

  <title>{{ .Title }}</title>
</head>
